# Build artifacts
*.obj
*.exe
*.lib
*.exp
*.pdb
*.ilk
*.tlog/
*.log
*.idb
*.ipdb
*.iobj
x64/
x86/
Global Debug/
Global Release/
Debug/
Release/

# Temp files
*.zip
*.7z
*.rar
*.tmp
Client_original_tmp/

# SQL Server database files
*.mdf
*.ldf

# Visual Studio stuff
.vs/
*.ipch
*.VC.db
*.VC.VC.opendb

# Encoder build artifacts
Source Tools/Encoder/ipch/

# OS
Thumbs.db
.DS_Store
